**/compiled/*
compiled/
**/*.bak
*.bak
*~
**.rktd
**.sxref
.DS_Store
doc/
/doc/
\#*
.\#*

# generated render/engrave output (dance figures, engraved scores, previews)
**/program-scores/
**/dance-figures/
**/repl-picts/
**/gestalt-embeds/
